:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --secondary-background-color: #2F303A;
}

/* Правила, применимые ко всему body  */
body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}

ul {
    list-style-type: none;
}

/* Стилизация header  */
.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #000000
}

.accent {
    color: var(--accent-color);
}

.site-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-text-color);
}

.contacts a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
}

.site-nav a:hover,
.site-nav a:focus,
.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}

/* Стилизация footer  */
.logo.footer {
    color: #FFFFFF;
    background-color: var(--secondary-background-color)
}

.physical-adress {
    font-weight: 400;
    color: #FFFFFF;
    background-color: var(--secondary-background-color)
}

.contacts-footer {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--secondary-background-color)
}

/* Стилизация main главной страницы */
.hero {
    background-color: var(--secondary-background-color)
}

h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--secondary-text-color)
}

.hero button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}